.name {
  font-size: 48px;
  padding-top: 50px;
  display: inline-block;
  margin: 0 auto;
}

.text-settings{
  font-size: 28px;
  display: table-cell;
  margin: 0 auto;
  white-space: nowrap;
  padding-left: 10px;
  height: inherit;
}

.a-text-settings{
  font-size: 28px;
  display: table-cell;
  margin: 0 auto;
  white-space: nowrap;
  height: 100%;
}

.subhead-container{
  display: table;
  height: auto;
  padding-bottom: 80px;
}

.ptag {
  float: left;
  margin: 0 auto;
  margin-top: 10px;
  height: 60px;
}

.rotate-ptag {
  float: left;
  margin: 0 auto;
  margin-top: 10px;
  height: 60px;
}

.introduction {
  display: inline-block;
  max-width: 536px;
}

.bracket-left{
  float: left;
  margin: 0 auto;
  height: 60px;
  margin-top: 10px;
}

.bracket-right{
  float: left;
  margin: 0 auto;
  height: 60px;
  margin-top: 10px;
}
