.intro-container {
  text-align: center;
}
// greater than 480
@media screen and (min-width:480px) {
  p {
    float: left;
    margin: 0 auto;
    margin-top: 10px;
    height: 60px;
  }

  .name-container{
    display: table;
  }
  
  .name {
    display: table-cell;
    font-size: 56px;
    padding-top: 70px;
    margin: 0 auto;
  }

  .wave {
    display: table-cell;
    font-size: 56px;
    padding-top: 70px;
    margin: 0 auto;
  }
  
  .subhead-container{
    display: table;
    height: auto;
    padding-bottom: 90px;
  }
  
  .text-settings{
    font-size: 22px;
    margin: 0 auto;
    padding-left: 10px;
  }
  
  .a-text-settings{
    font-size: 25px;
    display: table-cell;
    margin: 0 auto;
  }
  
  .rotate-ptag {
    height: 60px;
  }
  
  .introduction {
    display: inline-block;
  }
  
  .bracket{
    float: left;
    margin: 0 auto;
    height: 60px;
    margin-top: 10px;
  }
}


// smaller than 480
@media screen and (max-width:480px) {
  p {
    float: left;
    margin: 0 auto;
    margin-top: 10px;
    height: 60px;
  }
  
  .name {
    display: table-row;
    font-size: 56px;
    padding-top: 40px;
    margin: 0 auto;
  }

  .wave {
    display: table-row;
    font-size: 56px;
    padding-top: 70px;
    margin: 0 auto;
  }
  
  .subhead-container{
    display: table;
    height: auto;
    padding-bottom: 90px;
    padding-left: 14px;
  }
  
  .text-settings{
    font-size: 22px;
    margin: 0 auto;
    padding-left: 10px;
  }
  
  .a-text-settings{
    font-size: 25px;
    display: none;
    margin: 0 auto;
  }
  
  .rotate-ptag {
    height: 60px;
  }
  
  .introduction {
    display: inline-block;
    width: 95%;
    padding-top: 40px;
  }
  
  .bracket{
    float: left;
    margin: 0 auto;
    height: 60px;
    margin-top: 10px;
  }
  
  body{
    min-width: 600px;
  }
}
