@media screen and (max-width:480px) {
  .social-container{
    width: 80%;
  }
}

@media screen and (min-width:480px) {
  .social-container{
    width: 400px;
  }
}

.social-container{
  height: 150px;
  margin: 0 auto;
  border-top: 1px solid #cbcbcb;
}

.social-list {
  list-style-type: none;
  display: table;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  padding-top: 20px;
}

.social-list-elem{
  display: table-cell;
  padding-left: 15px;
  padding-right: 15px;
}

svg:hover path { 
    fill: #000000;
}
